label{
    display: block;
    margin: 1rem 0;
  }
  input, textarea,
  select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    border-radius: 0.35rem;
    
  }
  input, textarea {
    background-color:white;
    border: 1px solid white;
    
  }
  h1,p{
    text-align: center;
        margin-top: 0;
      margin-bottom: 0.5rem;
    text-shadow: 1px 1px 2px rgb(255 255 255 / 40%);
    
  }
  h1{
    font-size: 32;
   font-weight: 700;
  }
  p{
    font-style: italic;
    font-weight: 500;
  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  body {
    background-image:linear-gradient( 135deg, rgba(0, 0, 0, 0.8)50%, rgba(255, 255, 255, 0.7) ), url(https://images.unsplash.com/photo-1662560885333-43ab15b27c18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&it=crop&w=854&q=80);
    font-family: 'Poppins', sans-serif;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.4;
      color:white;
      margin: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }
  form{
     width: 80%;
    background-color: rgba(0,0,0,50%);
    margin-left: auto;
    margin-right: auto;
    padding: 2.5rem;
    max-width: 500px;
    border-radius: 0.50rem;
    box-shadow: 0 0 15px 0;
    margin-bottom: 70px;
  }
  fieldset {
    border: none;
    padding: 0.5rem 0;
  }
  input, textarea, select, button{
    font-family: inherit;
      font-size: 1rem;
      line-height: inherit;
  }
  #title{
    padding-top: 10px;
    margin-top: 50px;
    font-size: 38px;
  }
  #description{
    padding-bottom: 20px;
    margin-bottom: 30px;
  }